<h1>Suunnitellaan yhdess&#228; kaunista ja kest&#228;v&#228;&#228;</h1>

<p>
Kaunis Veranta tekee <em>puutarhasuunitelmia</em>, jotka voivat sis&#228;lt&#228;&#228;
koko pihan tai pienemm&#228;n alueen. Tavoitteenani on asiakkaan ja rakennuksen tyyliin sopiva 
helppohoitoinen ja monimuotoinen pihapiiri
</p>

<p>
Suunnittelen ja valmistan my&#246;s tilauksesta yksil&#246;llisi&#228; <em>sisustusteksiileit&#228;</em>
yksityishenkil&#246;ille sek&#228; yritysten ja yhdistysten toimitiloihin.
</p>

<p>
Kaunis Veranta sijaitsee <em>Vesilahden Koskenkyl&#228;ss&#228;</em>
</p>

