<h1>Helppohoitoinen ja kaunis piha</h1>

<p><%=image_tag(@top_corner_image, @top_corner_image_options)%>
Kaunis ja viihtyis&#228; piha luo mukavat puitteet kes&#228;iseen oleiluun perheen ja yst&#228;vien kesken. 
Siell&#228; on mukava rentoutua kiireisen p&#228;iv&#228;n j&#228;lkeen. Ja mik&#228; onkaan sen ihanampaa, 
kuin nauttia aamukahvit omalla kes&#228;terassilla lintujen aamutouhuja seuraillen? 
Suojaisalla pihalla oleillaan rauhassa naapurin katseilta.
</p>

<p>
Oikein suunniteltu piha tuottaa iloa vuosiksi eteenp&#228;in. 
Siell&#228; viihtyv&#228;t niin kasvit, ihmiset kuin lemmikkiel&#228;imetkin. 
Puutarhassa riitt&#228;&#228; ihasteltavaa ymp&#228;ri vuoden: kukkia, tuoksuja, 
lehdist&#246;n sinfoniaa, havujen vihreytt&#228;, ruskan hehkua, kivien kauneutta, marjoja...
</p>

<p>
Hyv&#228; suunnittelu s&#228;&#228;st&#228;&#228; pihan perustamiskustannuksia, koska saat 
tarkat ohjeet kulkuv&#228;ylien rakentamiseen, ja istutuksiin valitaan 
vain kest&#228;vi&#228;, tontin oloihin sopivia kasveja. V&#228;ltyt suurilta kasvien 
uusimiskustannuksilta ja ty&#246;l&#228;ilt&#228; laatoitusten korjauksilta.
</p>
