<h1>Helppohoitoinen ja kaunis piha</h1>

<p>
Kaunis Veranta tekee <em>puutarhasuunitelmia</em>, jotka voivat sis&#228;lt&#228;&#228;
koko pihan tai pienemm&#228;n alueen. Tavoitteenani on asiakkaan ja rakennuksen tyyliin sopiva 
helppohoitoinen ja monimuotoinen pihapiiri
</p>


