<h1>Yksil&#246;lliset, kauniit ja helppohoitoiset tekstiilit</h1>

<p>
Tarjoan sisustustekstiilien ompelupalvelua sek&#228; yksityishenkil&#246;ille ett&#228; yrityksille. 
Suunnittelen ja valmistan koteihin ja yritysten toimitiloihin verhoja, liinoja, 
s&#228;ngynpeittoja, yms. Asiakas voi hankkia itse materiaalit omien tai yhteisten 
suunnitelmiemme perusteella. Toimitusmyyntin&#228; kauttani saa my&#246;s monenlaisia kankaita. 
</p>

<p>
Teen my&#246;s suunnitteluk&#228;yntej&#228; asiakkaan luo. Ensimm&#228;isell&#228; k&#228;ynnill&#228; kartoitan 
asiakkaan toiveet ja otan tuotteiden suunnitteluun tarvittavat mitat. Toisella 
k&#228;ynnill&#228; esittelen mallipiirrokset, n&#228;ytekankaat ja laskelmat 
materiaalimenekeist&#228; sek&#228; hinnat tuotteiden toteutuksesta.
</p>

<p>
Autan my&#246;s pelkkien malli-, v&#228;ri- ja materiaalisuunnitelmien tekemisess&#228;.
</p>

<p>
Tyytyv&#228;inen asiakas on minulle suuri ilonaihe.
</p>

