body {
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(253,251,242);
}

/* VÄRIT                                                  */
/* Bannerin vaalean ruskea = rgb(254,236,188)             */
/* Kaunis Veranta Logon sininen on noin rgb(121,113,211)  TAI Miken mielestä #7d8cc8 */
/* Kukkien liila on noin rgb(148,137,291)                 */
/* Vaaleampi pohja = rgb(253,251,242)                     */
/* Tumma ruskea sävy sävyyn = #d1a370                     */


h1 {
	font-size: 1.3em;
  padding-top: 0.5em;
}

h2 {
	font-size: 1.2em;
	font-style: italic
  padding-top: 0.5em;
}


table, tr, td {
	margin: 0px;
	border-collapse: collapse;
}

strong {
	font-weight: normal;
	font-style: italic;
}

hr {
	color: rgb(200,200,200);
}

.sisalto {
	width: 40em;
	background-color: rgb(254,236,188);
	border: 1px solid #d1a370;
}

.logorivi {
	background-color: transparent;
}

.logo {
  padding: 0.2em 0.5em;
}

.linkkirivi {
  background-color: rgb(253,251,242);
  border: 1px solid #d1a370;
  padding: 0.3em 0em 0.4em;
  margin: 0em 0.5em;
}

.linkki {
  display: inline;
  font-variant: small-caps;
  padding: 0em 0.5em;
  background-color: transparent;
}

.sisaltorivi {
	padding: 0em 0.7em;
  line-height: 130%;
  margin: 0.5em 0.5em;
  border: 1px solid #d1a370;
  background-color: rgb(253,251,242);
}

.top_corner_image {
	float: right;
	margin-left: 0.5em;
}

#tekijat {
  font-size: 0.7em;
  color: rgb(200,200,200);
  text-align: right;
}

/* Allaoleva on kopioitu scaffold.css tiedostosta */

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
