body {
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
/*  background-color: rgb(253,251,242); */
  background-image:url('./images/tausta.jpg');
}

/* VÄRIT                                                  */
/* Bannerin vaalean ruskea = rgb(254,236,188)             */
/* Kaunis Veranta Logon sininen on noin rgb(121,113,211)  */
/* Kukkien liila on noin rgb(148,137,291)                 */
/* Vaaleampi pohja = rgb(253,251,242)                     */
/* LEVEYS 848px */

h1 {
  font-size: 1.5em;
  padding-top: 1em;
}

.logorivi {
  text-align: center;
}

.sisalto {
  line-height: 130%;
  width: 848px;
  background-color: rgb(253,251,242);
}

.linkki {
  text-decoration: none;
  font-variant: small-caps;
  padding: 0.1em 1em;
}

#linkkirivi {
  border-style: none solid solid solid;
  border-width: 0px  5px   5px   5px;
  border-color: rgb(254,236,188);
}


#tekijat {
  font-size: 0.7em;
  color: rgb(180,180,180);
  text-align: right;
}

/* Allaoleva on kopioitu scaffold.css tiedostosta */

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
